name: fl_magnetic
description: "Magnetic-style floating bubble picker for Flutter."
version: 0.1.1
homepage: https://github.com/lollipopkit/fl_magnetic

environment:
  sdk: ^3.10.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
